Language: Cpp

UseTab: Never
IndentWidth: 4
ColumnLimit: 80

BreakBeforeBraces: Allman

AlignAfterOpenBracket: BlockIndent

AlwaysBreakAfterDefinitionReturnType: All

IndentGotoLabels: false

IndentPPDirectives: AfterHash

AlignConsecutiveDeclarations: true
BinPackParameters: false
BinPackArguments: false

AllowShortLoopsOnASingleLine: false
